name: Deploy to AWS Lambda

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        # Install libraries into a folder named 'package'
        pip install --target ./package -r requirements.txt
        
    - name: Package Code
      run: |
        cd package
        # Zip the libraries
        zip -r ../deployment_package.zip .
        cd ..
        # Add the python script to the zip
        zip deployment_package.zip upload_live.py
        
    - name: Deploy to AWS Lambda
      uses: aws-actions/aws-cli-action@v1
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: us-east-2  # <--- CHANGE THIS if your Lambda is not in N. Virginia
      with:
        args: lambda update-function-code --function-name uncc-bus-producer --zip-file fileb://deployment_package.zip